*~
**/CVS/
**/cvs/
**/logfiles/*
**/*zip
.cvsignore
.vs
models/
!example_projects/cmas2d.tester/models
output/
scripts/
timeAdvance.txt
tester_report.html
models
project/kratos x64.tester/config/
!project/kratos x64.tester/config/tree_open.txt
!scripts
scripts/.GiDPostPreferences.ini
