*~
**/CVS/
**/cvs/
**/logfiles/*
**/*zip
.cvsignore
.vs
node_modules/
models/
!example_projects/cmas2d.tester/models
output/
scripts/
timeAdvance.txt
tester_report.html
models
project/kratos x64.tester/config/di*
!scripts
scripts/.GiDPostPreferences.ini
package-lock.json
scripts/tester-linux-64
config/digest_results.txt
config/tree_open.txt
project/kratos x64.tester/config/preferences.xml
project/kratos x64.tester/config/last_results.txt
